@model IEnumerable<Category>
<style>
    .category_product a:hover{
        color: red;
    }

    .cat_item.active {
        color: red;
    }
</style>
<div class="col-lg-2">
    <div class="hero__categories">
        <div class="hero__categories__all" style="border-radius: 3px 3px 0 0; background: #fff; border-bottom: none; padding-bottom: 0;">
            <i class="fa fa-bars"></i>
            <span style="color: #27272A; font-weight: 500;">Danh mục</span>
        </div>
        <ul style="background: #fff; border: none;">
            @foreach (var item in Model)
            {
                <li class="category_product"><a asp-controller="Product" asp-action="ProductbyCategory" asp-route-id = "@item.CategoryId" class="cat_item">@item.CategoryName</a></li>
            }
        </ul>
    </div>
</div>
<script>
    var items = document.querySelectorAll(".category_product");
    items.forEach(function (item) {
        item.addEventListener("click", function () {
            this.querySelector("a").style.color = "red";
        });
    });
</script>