@model List<Order>
@if (Model != null && Model.Count() > 0)
{
    <div class="table-responsive">
        <table class="table table-bordered table-hover">
            <tbody>
                <tr>
                    <th>Đơn hàng</th>
                    <th>Tình trạng</th>
                    <th>Tổng</th>
                    <th></th>
                </tr>
                @foreach( var item in Model)
                {
                    <tr>
                        <td><a class="account-order-id" href="javascript:void(0)">@item.OrderId</a></td>
                        <td>@item.OrderStatus</td>
                        <td>@item.OrderTotal.Value.ToString("#, ##0") đ</td>
                        <td>
                            <a asp-action="OrderDetail" asp-controller="Account" asp-route-id="@item.OrderId" class="btn btn-secondary btn-primary-hover"><span>Chi tiết</span></a>
                        </td>
                    </tr>
                }
               
               
            </tbody>
        </table>
    </div>
}
else
{
    <p>Hiện tại chưa có sản phẩm.</p>
}
