

<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, viewport-fit=cover" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>Dashboard - Tabler - Premium and Open Source dashboard template with responsive and high quality UI.</title>
    <!-- CSS files -->
    <link href="~/admintemplate/dist/css/style.css" rel="stylesheet" />
    <link href="~/admintemplate/dist/css/tabler.min.css?1684106062" rel="stylesheet" />
    <link href="~/admintemplate/dist/css/tabler-flags.min.css?1684106062" rel="stylesheet" />
    <link href="~/admintemplate/dist/css/tabler-payments.min.css?1684106062" rel="stylesheet" />
    <link href="~/admintemplate/dist/css/tabler-vendors.min.css?1684106062" rel="stylesheet" />
    <link href="~/admintemplate/dist/css/demo.min.css?1684106062" rel="stylesheet" />
    <link href="~/admintemplate/dist/css/all.min.css" rel="stylesheet" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/sweetalert2@11.10.0/dist/sweetalert2.min.css">
    

</head>


  <body  class=" d-flex flex-column">
    <script src="~/admintemplate/dist/js/demo-theme.min.js?1684106062"></script>

    @RenderBody()


    <!-- Libs JS -->
    <!-- Tabler Core -->
    <script src="~/admintemplate/dist/js/tabler.min.js?1684106062" defer></script>
    <script src="~/admintemplate/dist/js/demo.min.js?1684106062" defer></script>
</body>
</html>